* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.container {
	width: 1024px;
	margin: 0 auto;
	background-image: url(img/mv.jpg);
}
header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.logo {
	 height: 70px;
	 float: left;
}
.nav {
	float: right;
}
.nav-list {
	float: left;
	width: 120px;
	line-height: 70px;
	padding: 0 30px;
	list-style: none;
	font-size: 16px;
}
.nav-list a {
	color: #FAFAFA;
}
#mv {
	width: 100%;
	height: 650px;
	background-image: url(mv.png);
	text-align: center;
	background-size: cover;
	background-position: center;
}
.mv-title {
	font-size: 64px;
	color: #FAFAFA;
	padding-top: 200px;
}
.mv-item {
	font-size: 20px;
	color: #FAFAFA;
	padding-top: 10px;
}


#portfolio {
	background-color: #ECEFF1;
}
.heading {
	padding-top: 90px;
	font-size: 32px;
	color: #000000;
	text-align: center;

}
.heading::after {
	content: "";
	display: block;
	height: 3px;
	width: 70px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}

.heading-text {
	font-size: 16px;
	padding: 30px 0;
	text-align: center;
}

.position-group {
	width: 920px;
	padding: 30px 0 90px 0;
	margin: 0 auto;
}

.position {
	float: left;
	width: 300px;
	height: 250px;
	margin:10px 10px 0 0;
}

.position:nth-child(-n+3){
	margin-top: 0;
}

.position:nth-child(3n){
	margin-right: 0;
}




